
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Lobster&family=Smokum&display=swap');

body {
    font-family: 'Cinzel', serif;
    height: 100%;
}

.bi {
    margin-right: 10px;
}

#footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
}

/*form styling*/
.form-control {
    width: 25%;
}

