
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Lobster&family=Smokum&display=swap');
/*general*/
body {
    font-family: 'Cinzel', serif;
    font-size: x-large;
    height: 100%;
    background: #f0ad4e;
}

.bi {
    margin-right: 10px;
}

#footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
}

.heading {
    text-align: center;
}

/*form styling*/
.form-control {
    width: 25%;
    margin: 25px;
}

.manage_booking {
    font-size: xx-large;
}

.link-dark {
    font-size: xx-large;
}

.edit {
    font-size: 350px;
}
.login {
    width: 25%;
    margin: 25px;
}

/* home contact button */
.contact {
    padding: 20px;
    transition: transform .2s; /* Animation */
    margin: 0 auto;
  }
  .contact:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  /* main CTA buttons */
  .cta{
    padding: 20px;
    transition: transform .2s; /* Animation */
    margin: 0 auto;
  }
  .cta:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  #popup {
    display:none;
  }
