{% extends "restaurant/base.html" %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="nav">
    <div class="container-fluid">
      <a class="navbar-brand text-warning bg-dark" href="/"><img src="https://res.cloudinary.com/p-modaley/image/upload/v1642949347/Simple_Black_and_White_Burger_Restaurant_Creative_Logo_Illustration_250_x_100_px_4_ksyjp9.png"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse; d-flex justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-tabs">
          <li class="nav-item">
            <a class="nav-link active text-warning bg-dark" aria-current="page" href="/">Home</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" a href="/menu/">Menu</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link text-warning bg-dark" href="/create_booking/">Make a booking</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-warning bg-dark" href="/manage_bookings/">Manage bookings</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="contact_create.html">Contact</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link text-warning bg-dark" href="/accounts/logout/">Logout</a>
          </li>
          
      </div>
    </div>
  </nav>


<h1>Confirm booking deletion?</h1>
<form method="POST" action="/delete_booking/{{booking_id}}"> {% csrf_token %}
    <div>
        <button type="submit">Confirm</button>
    </div>
    <div>
        <!-- Add link to go to manage booking page -->
        <a><button value='Cancel'/></a>
    </div>
</form>

<footer>
  <div class="container" style="text-align: center;">
    <div class="row align-items-start">
      <div class="col">
        <a href="http://www.facebook.com" target="_blank"><i class="bi bi-facebook" style=color:black;"></i></a>
        <a href="http://www.instagram.com" target="_blank"><i class="bi bi-instagram" style=color:black;"></i></a>
        <a href="http://www.twitter.com" target="_blank"><i class="bi bi-twitter" style="color:black;"></i></a>
      </div>
      <p style="text-align: center; margin-top: 20px;">Paul's Kitchen 2022</p>
    </div>
  </div>
</footer>

{% endblock %}