{% extends "restaurant/base.html" %}
{% load static %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="nav">
    <div class="container-fluid">
      <a class="navbar-brand text-warning bg-dark" href="#">Paul's Kitchen</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse; d-flex justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-warning bg-dark" aria-current="page" href="/">Home</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" a href="/menu/">Menu</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link text-warning bg-dark" href="/create_booking/">Make a booking</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-warning bg-dark" href="/manage_bookings/">Manage bookings</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="contact_create.html">Contact</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link text-warning bg-dark" href="/accounts/logout/">Logout</a>
          </li>
          
      </div>
    </div>
  </nav>

<h1>Create Bookings</h1>

<form method="POST"> {% csrf_token %}
    <input name="user" value="{{ user.id }}">
    <div>
    <label>Date:</label>
    {{ form.date }}
    </div>
    <div>
    <label>Time:</label>
    {{ form.time }}
    </div>
    <div>
    <label>Number of guests:</label>
    {{ form.guests }}
    </div>
    <div>
    <input type="submit" value='Save'/>
    </div>
</form>
{% endblock %}