{% extends "restaurant/base.html" %}


{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="nav">
  <div class="container-fluid">
    <a class="navbar-brand text-warning bg-dark" href="/"><img src="https://res.cloudinary.com/p-modaley/image/upload/v1642949347/Simple_Black_and_White_Burger_Restaurant_Creative_Logo_Illustration_250_x_100_px_4_ksyjp9.png"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse; d-flex justify-content-end;" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbar-right list-inline list-group nav-tabs">
        <li class="nav-item">
          <a class="nav-link active text-warning bg-dark" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-warning bg-dark" a href="/menu/">Menu</a>
        </li>
        <!--<li class="nav-item">
          <a class="nav-link" href="/contact_create/">Contact</a>
        </li>-->
        <li class="nav-item">
          <a class="nav-link text-warning bg-dark" href="/accounts/login/">Login</a>
        </li>
    </div>
  </div>
</nav>

<!--Image and buttons and Jumbotron overlay-->

<div
  class="container-fluid bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white"
  style="background-image: url('https://res.cloudinary.com/p-modaley/image/upload/v1642767154/GettyImages-1174648824_ielqel.jpg');  background-position: center; height: 90vh">
  <h1 class="mb-3 h2 display-1">Flame-Grilled Perfection</h1>
  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center" style="margin-top: 50vh;">
    <button type="button" class="btn btn-warning btn-lg px-4 gap-3 text-dark" style="margin-right: 20px;"><a href="/create_booking/" style="text-decoration: none; color: black;">Book A Table</a></button>
    <button type="button" class="btn btn-warning btn-lg px-4 gap-3 text-dark"><a href="/menu/" style="text-decoration: none; color: black;">View Menu</a></button>
  </div>
</div>

<div class="container bg-dark">
<div class="row about-section d-flex justify-content-center">
  <h2 class="text-warning" style="text-align: center;">About Us</h1>
</div>
<div class="about-section d-flex justify-content-center p-3 mb-2 text-white" id="test">
  <p>Established in 2021, we are now renowned for the best flame-grilled burgers and meats in Liverpool. Our quality ingredients and quirky flavours, keep our customers coming back for more.</p>
</div>
</div>

<div class="container">
  <div class="row" style="height: 50vh;">
    <div class="col-sm" style="background-image: url(https://res.cloudinary.com/p-modaley/image/upload/v1642940239/img3_janqb5.jpg); background-repeat: no-repeat; margin: 10px;">
    </div>
    <div class="col-sm" style="background-image: url(https://res.cloudinary.com/p-modaley/image/upload/v1642940239/g4_k1ju7p.jpg); background-repeat: no-repeat; margin: 10px;">
    </div>
    <div class="col-sm" style="background-image: url(https://res.cloudinary.com/p-modaley/image/upload/v1642940239/g1_fs5mtv.jpg); background-repeat: no-repeat; margin: 10px;">
    </div>
  </div>
</div>

<div class="container bg-dark" style="background-image: url(https://res.cloudinary.com/p-modaley/image/upload/v1642954436/Untitled_design_85_t3bpih.png); margin-bottom: 10px;">
  <div class="row">
    <div class="col" style="margin: 10px;">
      <h2 class="text-warning">
        Opening Hours
      </h2>
      <p class="text-white">Monday: 11:00 - 22:00</p>
      <p class="text-white">Tuesday: 11:00 - 22:00</p>
      <p class="text-white">Wednesday: 11:00 - 22:00</p>
      <p class="text-white">Thursday: 11:00 - 22:00</p>
      <p class="text-white">Friday: 11:00 - 23:00</p>
      <p class="text-white">Saturday: 11:00 - 23:00</p>
      <p class="text-white">Sunday: 11:00 - 22:00</p>
    </div>
    <div class="col" style="margin: 10px;">
      <h2 class="text-warning" style="text-align: center;">
        Contact Us
      </h2>
      <p class="text-center w-responsive mx-auto mb-5 text-white">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
        a matter of hours to help you.</p>

        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5 text-white">
            <form id="contact-form" name="contact-form" action="mail.php" method="POST">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="name" name="name" class="form-control">
                            <label for="name" class="text-white">Your name</label>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="email" name="email" class="form-control">
                            <label for="email" class="text-white">Your email</label>
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <input type="text" id="subject" name="subject" class="form-control">
                            <label for="subject" class="text-white">Subject</label>
                        </div>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form">
                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                            <label for="message">Your message</label>
                        </div>

                    </div>
                </div>
                <!--Grid row-->

            </form>

            <div class="text-center text-md-left">
                <a class="btn btn-primary bg-warning text-dark btn-outline-dark">Send</a>
            </div>
            <div class="status"></div>
        </div>
        <!--Grid column-->
        <form>
          {{ form.as_p }}
          <input type="submit" value='Save'/>
      </form>

    </div>
</section>
<!--Section: Contact v.2-->
    </div>
  </div>



{% endblock %}

