{% extends "restaurant/base.html" %}


{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="nav">
  <div class="container-fluid">
    <a class="navbar-brand text-warning bg-dark" href="#">Paul's Kitchen</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse; d-flex justify-content-end;" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbar-right list-inline">
        <li class="nav-item">
          <a class="nav-link active text-warning bg-dark" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-warning bg-dark" a href="/menu/">Menu</a>
        </li>
        <!--<li class="nav-item">
          <a class="nav-link" href="/contact_create/">Contact</a>
        </li>-->
        <li class="nav-item">
          <a class="nav-link text-warning bg-dark" href="/accounts/login/">Login</a>
        </li>
    </div>
  </div>
</nav>

<!--Image and buttons and Jumbotron overlay-->
<div
  class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white"
  style="background-image: url('https://res.cloudinary.com/p-modaley/image/upload/v1642687518/GettyImages-1174648824_ielqel.jpg');"
>
  <h1 class="mb-3 h2 display-1">Liverpool's Best Restaurant</h1>

  <p class="lead" style="text-align: center;">Est. 2021</p>
  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
    <button type="button" class="btn btn-warning btn-lg px-4 gap-3 text-dark">Book A Table</button>
    <button type="button" class="btn btn-warning btn-lg px-4 gap-3 text-dark">View Menu</button>
  </div>



<div class="about-section d-flex justify-content-center">
  <h1 style="text-align: center;">About Us</h1>
</div>
<div class="w-75 about-section d-flex justify-content-center p-3 mb-2 text-dark" id="test">
  <p>Paul's Kitchen is a family-run business that was established in 2021.</p>
  <p></p>
</div>


{% endblock %}

