{% extends "restaurant/base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Paul's Kitchen</title>
</head>
 
</html>
<body>
{% block content %}

<div class="container-fluid d-flex justify-content-center">
    <h1>Paul's Kitchen</h1>
  </div>

  <div class="container-fluid d-flex justify-content-center">
  <img src="" class="img-fluid" alt="Responsive image" style="max-width: 100%;">
  </div>

  <div class="container-fluid d-flex justify-content-center">
    <h2>Menu</h2>
  </div>

  <div class="container-fluid d-flex justify-content-center">
    <h4>Starters</h4>
    <p></p>
    <p></p>
    <p></p>
  </div>

  <div class="container-fluid d-flex justify-content-center">
    <h4>Mains</h4>
    <p></p>
    <p></p>
    <p></p>
  </div>
  
  <div class="container-fluid d-flex justify-content-center">
    <h4>Desserts</h4>
    <p></p>
    <p></p>
    <p></p>
  </div>

{% endblock %}

</body>