{% extends "restaurant/base.html" %}

{% block content %}
<!-- Nav menu script and markup -->
 <!-- Toggle between showing and hiding the navigation menu links when the user clicks on the hamburger menu / bar icon */ -->
<script>
  function myFunction() {
   var x = document.getElementById("myLinks");
   if (x.style.display === "block") {
     x.style.display = "none";
   } else {
     x.style.display = "block";
   }
 }
 </script>
 
 <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
 <!-- Top Navigation Menu -->
 <div class="topnav">
   <a href="/" class="active"><img src="https://res.cloudinary.com/p-modaley/image/upload/v1642949347/Simple_Black_and_White_Burger_Restaurant_Creative_Logo_Illustration_250_x_100_px_4_ksyjp9.png" alt="home-nav-image"></a></a>
   <!-- Navigation links (hidden by default) -->
   <div class="bg-dark" id="myLinks">
     <a href="/">Home</a>
     <a href="/menu/">Menu</a>
     <a href="/create_booking/">Make a booking</a>
     <a href="/manage_bookings/">Manage bookings</a>
     <a href="/accounts/logout/">Logout</a>
   </div>
   <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
   <a href="javascript:void(0);" class="icon" onclick="myFunction()">
     <i class="fa fa-bars"></i>
   </a>
 </div>



<h1 class="heading">Manage Your Bookings</h1>
{% for booking in bookings %}
<div class="container d-flex justify-content-center" style="margin-top: 50px;">
<p class="manage_booking">Booking ID: {{ booking.id }}</p>
</div>
<div class="container d-flex justify-content-center">
<p class="manage_booking"> Booking Date: <br>{{ booking.date }}</p>
</div>
<div class="container d-flex justify-content-center">
<p class="manage_booking">Booking Time: <br>{{ booking.time }}</p>
</div>
<div class="container d-flex justify-content-center">
  <p class="manage_booking">Number of Guests: <br>{{ booking.guests }}</p>
  </div>

<div class="container d-flex justify-content-center"><a href="{% url 'confirm_delete_booking' booking.id %}" class="link-dark" style="text-decoration: none;">Cancel     <img src="https://res.cloudinary.com/p-modaley/image/upload/v1642706107/trash_ry4rll.svg" style="height: 50px;"></a></div>
<div class="container d-flex justify-content-center"><a href="{% url 'edit_booking' booking.id %}" class="link-dark" style="text-decoration: none;">Edit<img src="https://res.cloudinary.com/p-modaley/image/upload/v1642706102/pencil_pqj59a.svg" style="height: 50px;"></a></div>


<!-- Contact footer -->
<footer>
  <div class="container" style="text-align: center;">
    <div class="row align-items-start">
      <div class="col">
        <a href="http://www.facebook.com" target="_blank"><i class="bi bi-facebook" style="color:black;"></i></a>
        <a href="http://www.instagram.com" target="_blank"><i class="bi bi-instagram" style="color:black;"></i></a>
        <a href="http://www.twitter.com" target="_blank"><i class="bi bi-twitter" style="color:black;"></i></a>
      </div>
      <p style="text-align: center; margin-top: 20px;">Paul's Kitchen 2022</p>
    </div>
  </div>
</footer>
{% endfor %}
</div>




{% endblock %}
