{% extends "restaurant/base.html" %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="nav">
    <div class="container-fluid">
      <a class="navbar-brand text-warning bg-dark" href="/"><img src="https://res.cloudinary.com/p-modaley/image/upload/v1642713298/Simple_Black_and_White_Burger_Restaurant_Creative_Logo_Illustration_250_x_100_px_1_c8ium3.png"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse; d-flex justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-warning bg-dark" aria-current="page" href="/">Home</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" a href="/menu/">Menu</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link text-warning bg-dark" href="/create_booking/">Make a booking</a>
          </li>
          <li class="nav-item text-warning bg-dark">
            <a class="nav-link text-warning bg-dark" href="/manage_bookings/">Manage bookings</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="contact_create.html">Contact</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link text-warning bg-dark" href="/accounts/logout/">Logout</a>
          </li>
          
      </div>
    </div>
  </nav>



<h1>Manage Your Bookings</h1>
{% for booking in bookings %}
<div>
<p>{{ booking.id }}</p>
<p>{{ booking.date }}</p>
<p>{{ booking.time }}</p>

<a href="{% url 'delete_booking' booking.id %}" class="link-dark" style="text-decoration: none;">Cancel<img src="https://res.cloudinary.com/p-modaley/image/upload/v1642706107/trash_ry4rll.svg"></a>
<a href="{% url 'edit_booking' booking.id %}" class="link-dark" style="text-decoration: none;">Edit<img src="https://res.cloudinary.com/p-modaley/image/upload/v1642706102/pencil_pqj59a.svg"></a>

{% endfor %}
</div>




{% endblock %}
