{% extends "restaurant/base.html" %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="nav">
  <div class="container-fluid">
    <a class="navbar-brand text-warning bg-dark" href="/"><img src="https://res.cloudinary.com/p-modaley/image/upload/v1642949347/Simple_Black_and_White_Burger_Restaurant_Creative_Logo_Illustration_250_x_100_px_4_ksyjp9.png"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse; d-flex justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-tabs">
        <li class="nav-item">
          <a class="nav-link text-warning bg-dark" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-warning bg-dark active" a href="/menu/">Menu</a>
        </li>
        <!--<li class="nav-item">
          <a class="nav-link" href="/contact_create/">Contact</a>
        </li>-->
        <li class="nav-item">
          <a class="nav-link text-warning bg-dark" href="/accounts/login/">Login</a>
        </li>
    </div>
  </div>
</nav>
<div class="container-fluid d-flex justify-content-center">
  <h2>Menu</h2>
</div>

<div class="container bg-dark text-warning">
<!-- Starters -->
<div class="col"><h2>Starters</h2></div>
<div class="row" style="text-align: center;">
  <div class="col text-white"><h4>Ribs</h4></div>
  <div class="col text-white"><h4>Wings</h4></div>
  <div class="col text-white"><h4>Garlic Bread</h4></div>
</div>
<!-- Main -->
<div class="col"><h2>Mains</h2></div>
<div class="row" style="text-align: center;">
  <div class="col text-white"><h4>Ribs</h4></div>
  <div class="col text-white"><h4>Ribs</h4></div>
  <div class="col text-white"><h4>Ribs</h4></div>
</div>
  <!-- Desserts -->
  <div class="col"><h2>Desserts</h2></div>
  <div class="row" style="text-align: center;">
    <div class="col text-white"><h4>Ribs</h4></div>
    <div class="col text-white"><h4>Ribs</h4></div>
    <div class="col text-white"><h4>Ribs</h4></div>
  </div>
</div>
</div>
{% endblock %}