{% extends "restaurant/base.html" %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="nav">
  <div class="container-fluid">
    <a class="navbar-brand text-warning bg-dark" href="/"><img src="https://res.cloudinary.com/p-modaley/image/upload/v1642949347/Simple_Black_and_White_Burger_Restaurant_Creative_Logo_Illustration_250_x_100_px_4_ksyjp9.png"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse; d-flex justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-tabs">
        <li class="nav-item">
          <a class="nav-link text-warning bg-dark" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-warning bg-dark active" a href="/menu/">Menu</a>
        </li>
        <!--<li class="nav-item">
          <a class="nav-link" href="/contact_create/">Contact</a>
        </li>-->
        <li class="nav-item">
          <a class="nav-link text-warning bg-dark" href="/accounts/login/">Login</a>
        </li>
    </div>
  </div>
</nav>
<div class="container-fluid d-flex justify-content-center">
  <h2>Menu</h2>
</div>

<div class="container bg-dark text-warning" style="border-radius: 15px 50px 30px;">
<!-- Starters -->
<div class="col"><h2>Starters</h2></div>
<div class="row" style="text-align: center;">
  <div class="col text-white"><h4>Sticky Ribs</h4><img src="https://res.cloudinary.com/p-modaley/image/upload/v1642958274/4_c1svjl.png"></div>
  <div class="col text-white"><h4>Wicked Wings</h4><img src="https://res.cloudinary.com/p-modaley/image/upload/v1642958274/6_mne7wg.png"></div>
  <div class="col text-white"><h4>Garlic Bread</h4><img src="https://res.cloudinary.com/p-modaley/image/upload/v1642958274/5_jui6bn.png"></div>
</div>
<div class="row" style="text-align: center;">
  <div class="col text-warning"><h4>£5.99</h4></div>
  <div class="col text-warning"><h4>£4.99</h4></div>
  <div class="col text-warning"><h4>£2.99</h4></div>

</div>
<!-- Main -->
<div class="col"><h2>Mains</h2></div>
<div class="row" style="text-align: center;">
  <div class="col text-white"><h4>Succulent Steak</h4><img src="https://res.cloudinary.com/p-modaley/image/upload/v1642958274/2_nzvtaz.png"></div>
  <div class="col text-white"><h4>Boss Burger</h4><img src="https://res.cloudinary.com/p-modaley/image/upload/v1642958274/1_xwfetp.png"></div>
  <div class="col text-white"><h4>Veggie Burger</h4><img src="https://res.cloudinary.com/p-modaley/image/upload/v1642958274/3_ogeezm.png"></div>
</div>
<div class="row" style="text-align: center;">
  <div class="col text-warning"><h4>£12.99</h4></div>
  <div class="col text-warning"><h4>£10.99</h4></div>
  <div class="col text-warning"><h4>£9.99</h4></div>

</div>

  <!-- Desserts -->
  <div class="col"><h2>Desserts</h2></div>
  <div class="row" style="text-align: center;">
    <div class="col text-white"><h4>Cheesecake</h4><img src="https://res.cloudinary.com/p-modaley/image/upload/v1642958274/4_c1svjl.png"></div>
    <div class="col text-white"><h4>Sticky Toffee Pudding</h4><img src="https://res.cloudinary.com/p-modaley/image/upload/v1642958275/8_ecj8kk.png"></div>
    <div class="col text-white"><h4>Ice Cream</h4><img src="https://res.cloudinary.com/p-modaley/image/upload/v1642958275/9_zh7kgw.png"></div>
  </div>
  <div class="row" style="text-align: center;">
    <div class="col text-warning"><h4>£3.99</h4></div>
    <div class="col text-warning"><h4>£4.99</h4></div>
    <div class="col text-warning"><h4>£2.99</h4></div>
  
  </div>



</div>
</div>

<div class="container mt-auto fixed-bottom"></div>
          
                
                <div class="container" style="text-align: center;">
                  <div class="row align-items-start">
                    <div class="col">
                      <i class="bi bi-facebook"></i>
                      <i class="bi bi-instagram"></i>
                      <i class="bi bi-twitter"></i>
                    </div>
                    
                    <p style="text-align: center; margin-top: 20px;">Paul's Kitchen 2022</p>
                  </div>
{% endblock %}