{% extends "restaurant/base.html" %}

{% block content %}
<!-- Nav menu script and markup -->
 <!-- Toggle between showing and hiding the navigation menu links when the user clicks on the hamburger menu / bar icon */ -->
 <script>
  function myFunction() {
   var x = document.getElementById("myLinks");
   if (x.style.display === "block") {
     x.style.display = "none";
   } else {
     x.style.display = "block";
   }
 }
 </script>
 
 <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
 <!-- Top Navigation Menu -->
 <div class="topnav">
   <a href="/" class="active"><img src="https://res.cloudinary.com/p-modaley/image/upload/v1642949347/Simple_Black_and_White_Burger_Restaurant_Creative_Logo_Illustration_250_x_100_px_4_ksyjp9.png" alt="home-nav-image"></a></a>
   <!-- Navigation links (hidden by default) -->
   <div class="bg-dark" id="myLinks">
     <a href="/">Home</a>
     <a href="/menu/">Menu</a>
     <a href="/accounts/login/">Login</a>
   </div>
   <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
   <a href="javascript:void(0);" class="icon" onclick="myFunction()">
     <i class="fa fa-bars"></i>
   </a>
 </div>

<div class="container-fluid d-flex justify-content-center">
  <h2 style="margin-top: 10px;">Menu</h2>
</div>

<div class="container bg-dark text-warning" style="border-radius: 15px 50px 30px;">
<!-- Starters -->
<div class="col"><h2>Starters</h2></div>
<div class="row" style="text-align: center;">
  <div class="col text-white"><h4>Sticky Ribs</h4><img src="https://res.cloudinary.com/p-modaley/image/upload/v1642958274/4_c1svjl.png"></div>
  <div class="col text-white"><h4>Wicked Wings</h4><img src="https://res.cloudinary.com/p-modaley/image/upload/v1642958274/6_mne7wg.png"></div>
  <div class="col text-white"><h4>Garlic Bread</h4><img src="https://res.cloudinary.com/p-modaley/image/upload/v1642958274/5_jui6bn.png"></div>
</div>
<div class="row" style="text-align: center;">
  <div class="col text-warning"><h4>£5.99</h4></div>
  <div class="col text-warning"><h4>£4.99</h4></div>
  <div class="col text-warning"><h4>£2.99</h4></div>

</div>
<!-- Main -->
<div class="col"><h2>Mains</h2></div>
<div class="row" style="text-align: center;">
  <div class="col text-white"><h4>Succulent Steak</h4><img src="https://res.cloudinary.com/p-modaley/image/upload/v1642958274/2_nzvtaz.png"></div>
  <div class="col text-white"><h4>Boss Burger</h4><img src="https://res.cloudinary.com/p-modaley/image/upload/v1642958274/1_xwfetp.png"></div>
  <div class="col text-white"><h4>Veggie Burger</h4><img src="https://res.cloudinary.com/p-modaley/image/upload/v1642958274/3_ogeezm.png"></div>
</div>
<div class="row" style="text-align: center;">
  <div class="col text-warning"><h4>£12.99</h4></div>
  <div class="col text-warning"><h4>£10.99</h4></div>
  <div class="col text-warning"><h4>£9.99</h4></div>

</div>

  <!-- Desserts -->
  <div class="col"><h2>Desserts</h2></div>
  <div class="row" style="text-align: center;">
    <div class="col text-white"><h4>Cheesecake</h4><img src="https://res.cloudinary.com/p-modaley/image/upload/v1642958275/7_jmhujh.png"></div>
    <div class="col text-white"><h4>Sticky Toffee Pudding</h4><img src="https://res.cloudinary.com/p-modaley/image/upload/v1642958275/8_ecj8kk.png"></div>
    <div class="col text-white"><h4>Ice Cream</h4><img src="https://res.cloudinary.com/p-modaley/image/upload/v1642958275/9_zh7kgw.png"></div>
  </div>
  <div class="row" style="text-align: center;">
    <div class="col text-warning"><h4>£3.99</h4></div>
    <div class="col text-warning"><h4>£4.99</h4></div>
    <div class="col text-warning"><h4>£2.99</h4></div>
  
  </div>



</div>
</div>

<footer>
  <div class="container" style="text-align: center;">
    <div class="row align-items-start">
      <div class="col">
        <a href="http://www.facebook.com" target="_blank"><i class="bi bi-facebook" style="color:black;"></i></a>
        <a href="http://www.instagram.com" target="_blank"><i class="bi bi-instagram" style="color:black;"></i></a>
        <a href="http://www.twitter.com" target="_blank"><i class="bi bi-twitter" style="color:black;"></i></a>
      </div>
      <p style="text-align: center; margin-top: 20px;">Paul's Kitchen 2022</p>
    </div>
  </div>
</footer>
{% endblock %}