{% extends "restaurant/base.html" %}

{% block content %}
<!-- Nav menu script and markup -->
 <!-- Toggle between showing and hiding the navigation menu links when the user clicks on the hamburger menu / bar icon */ -->
 <script>
  function myFunction() {
   var x = document.getElementById("myLinks");
   if (x.style.display === "block") {
     x.style.display = "none";
   } else {
     x.style.display = "block";
   }
 }
 </script>
 
 <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
 <!-- Top Navigation Menu -->
 <div class="topnav">
   <a href="/" class="active"><img src="https://res.cloudinary.com/p-modaley/image/upload/v1642949347/Simple_Black_and_White_Burger_Restaurant_Creative_Logo_Illustration_250_x_100_px_4_ksyjp9.png" alt="home-nav-image"></a></a>
   <!-- Navigation links (hidden by default) -->
   <div class="bg-dark" id="myLinks">
     <a href="/">Home</a>
     <a href="/menu/">Menu</a>
     <a href="/create_booking/">Make a booking</a>
     <a href="/manage_bookings/">Manage bookings</a>
     <a href="/accounts/logout/">Logout</a>
   </div>
   <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
   <a href="javascript:void(0);" class="icon" onclick="myFunction()">
     <i class="fa fa-bars"></i>
   </a>
 </div>
<!-- Sweet Alert --> <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> 
<script>
  swal("Success!");
  </script>

<h1>Profile</h1>

<div>
  <form method="post" action="/accounts/profile/">{% csrf_token %}
    <div>
      <label>First Name</label><br>
      <input name="firstname" type="text" value="{{ firstname }}"/>
    </div>
    <div>
      <label>Last Name</label><br>
      <input name="lastname" type="text" value="{{ lastname }}"/>
    </div>
    <div>
      <label>Email</label><br>
      <input name="email" type="email" value="{{ user.email }}"/>
    </div> 
    <div class="container d-flex justify-content-center">
      <input type="submit" value='Save'/>
    </div>
  </form>
</div>


<div class="container mt-auto fixed-bottom"></div>
          
<footer>
  <div class="container" style="text-align: center;">
    <div class="row align-items-start">
      <div class="col">
        <a href="http://www.facebook.com" target="_blank"><i class="bi bi-facebook" style="color:black;"></i></a>
        <a href="http://www.instagram.com" target="_blank"><i class="bi bi-instagram" style="color:black;"></i></a>
        <a href="http://www.twitter.com" target="_blank"><i class="bi bi-twitter" style="color:black;"></i></a>
      </div>
      <p style="text-align: center; margin-top: 20px;">Paul's Kitchen 2022</p>
    </div>
  </div>
</footer>
{% endblock %}